.share-item {
  /* position: fixed; /
    right: 45px;
    top: 100px;
    z-index: 99;
    
    / background-color: black !important; */
  background-color: transparent !important;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border: none;
}
